apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgresql
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: postgresql
  source:
    repoURL: https://github.com/goegoe0212/home-kubernetes.git
    path: apps/postgresql/overlays
    targetRevision: HEAD
    kustomize: {}