apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: redis
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: redis
  source:
    repoURL: https://github.com/goegoe0212/home-kubernetes.git
    path: apps/redis/overlays
    targetRevision: HEAD
    kustomize: {}